nvidia-persistenced-*.tar.gz
/nvidia-persistenced-390.42.tar.bz2
/nvidia-persistenced-390.48.tar.bz2
/nvidia-persistenced-396.24.tar.bz2
/nvidia-persistenced-396.45.tar.bz2
/nvidia-persistenced-396.51.tar.bz2
/nvidia-persistenced-396.54.tar.bz2
/nvidia-persistenced-410.57.tar.bz2
/nvidia-persistenced-410.66.tar.bz2
